*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'DM Sans', sans-serif;
}

/* CONFIGURAÇÕES GERAIS */

:root{
  font-size: 62.5%; /* 1rem = 10px*/

  --height-header: 7.2rem;

  /*Primary colors*/
  --brand-blue: #1971C2;
  --brand-blue-light: #D0EBFF;
  --brand-blue-light-02: #F0F9FF;
  --brand-beige: #FFFAF1;
  --brand-houver: #0A4378;
  
  /*Secondary colors*/
  --gray-headline: #212529;
  --gray-paragraph: #495057;
  --gelo: #F9F9F9;
  --white: #FFF;
}

html, body{
  width: 100%;
  scroll-behavior: smooth;
}

body{
  overflow: overlay;
  background: var(--gelo);
}

h1{
  color: var(--gray-headline);
  font-size: 3.4rem;
  line-height: 4.4rem;
  margin: 1.6rem 0 2.4rem 0;
}

h2{
  color: var(--gray-headline);
  font-size: 3rem;
  line-height: 3.9rem;
  text-align: center;
}

h3{
  color: var(--gray-headline);
  font-size: 4.8rem;
  line-height: 6.2rem;
}

h4{
  color: var(--brand-blue);
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.08em;
  text-transform: uppercase;
}

h5{
  font-size: 2.4rem;
  line-height: 3.1rem;
  padding-block: 1.6rem;
}

p{
  color: var(--gray-paragraph);
  font-size: 18px;
  line-height: 2.7rem;
}

button.btn-whatsapp{
  background: var(--brand-blue);
  color: var(--white);
  border-radius: 40px;
  border: none;
  width: 26.3rem;
  height: 5.2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s;
}

button.btn-whatsapp img{
  height: 2rem;
}

button.btn-whatsapp:hover{
  background: var(--brand-houver);
}

div.social-media{
  width: 13.6rem;
  height: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* HEADER */

header{
  background: var(--brand-blue-light);
  position: fixed;
  top: 0;
  width: 100%;
  transition: 0.25s;
  z-index: 100;
}

header div#cabecalho{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 2.4rem;
}

header div#cabecalho button.btn-menu{
  height: 4rem;
  background: transparent;
  border: none;
  cursor: pointer;
}

header div#menu-mobile{
  display: none; 
}

header.scrolled{
  background: var(--brand-blue);
  transition: 0.25s;
}

header.scrolled div#cabecalho svg path{
  fill: var(--white);
}

header.scrolled div#cabecalho button svg path{
  stroke: var(--white);
}

/* MENU MOBILE */

body.openedMenu{
  overflow: hidden;

}

body.openedMenu header{
  background: var(--brand-blue);
  height: 100%;
  transition: 0.25s;
}

body.openedMenu header div#menu-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

body.openedMenu header div#menu-mobile nav{
  display: flex;
  margin: 6rem 0 4.8rem 0;
  flex-direction: column;
  text-align: center;
  gap: 4.8rem;
}

body.openedMenu header div#menu-mobile nav a{
  color: var(--white);
  font-weight: bold;
  font-size: 2.4rem;
  line-height: 3.1rem;
}

body.openedMenu header div#menu-mobile button{
  width: 27.4rem;
  height: 5.5rem;
  margin-bottom: 8rem;
  background: var(--white);
  color: var(--brand-blue);
  border: none;
  border-radius: 40px;
  font-weight: bold;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.25s;
}

body.openedMenu header div#menu-mobile button:hover{
  background: transparent;
  color: var(--white);
  border: 1px solid var(--white);
}

body.openedMenu header div#cabecalho a svg path{
  fill: var(--white);
}

body.openedMenu header div#cabecalho button svg{
  visibility: hidden;
}

body.openedMenu header div#cabecalho button{
  background-image: url(assets/icons/close.svg);
}

/* SEÇÃO INICIO */

section#inicio::before{
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--brand-blue-light);
  width: 100%;
  height: 108rem;
}

section#inicio{
  display: flex;
  flex-direction: column;
  align-items: center;  
  padding-top: var(--height-header);
}

section#inicio div.conteudo{
  width: 32.7rem;
  height: 38.5rem;
  margin: 4rem auto 6rem auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

section#inicio div.conteudo p{
  margin-bottom: 3.2rem;
}

section#inicio div.foto{
  width: 28.3rem;
  height: 36.2rem;
}

section#inicio div.foto img{
  height: 100%;
  object-position: 0 2rem;
}

/* ESTATISTICAS */

div#stats{
  width: 32.7rem;
  height: 47rem;
  background: var(--brand-beige);
  margin-inline: auto;
  padding: 4rem 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--brand-blue-light);
}

div#stats p{
  color: var(--brand-blue);
  font-size: 1.6rem;
}

/* SEÇÃO SERVIÇOS */

section#servicos::before{
  content: '';
  position: absolute;
  z-index: -1;
  background: var(--gelo);
  width: 100%;
  height: 203.4rem;
}

section#servicos{
  width: 100%;
  height: 203.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#servicos h4{
  margin: 10rem 0 1.6rem 0;
}

section#servicos h2{
  width: 31.4rem;
  margin-bottom: 6rem;
}

section#servicos div.container{
  width: 32.7rem;
  height: 140.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

section#servicos div.container div.servico{
  background: var(--white);
  border: 1px solid var(--brand-blue-light);
  border-radius: 5px;
  padding: 2.4rem;
}

section#servicos div.container div.servico p{
  font-size: 1.6rem;
  line-height: 2.4rem;
}

/* SEÇÃO SOBRE */

section#sobre{
  background: var(--brand-beige);
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  padding-block: 10rem;
}

section#sobre div.texto{
  margin-bottom: 6rem;
  width: 32.8rem;
  height: 42.7rem;
  text-align: left;

}

section#sobre div.texto h4{
  margin-bottom: 1.6rem;
}

section#sobre div.texto h2{
  text-align: left;
}

section#sobre div.texto p{
  margin-top: 2.4rem;
  font-size: 1.6rem;
}

section#sobre img{
  height: 28.2rem;
  width: 32.7rem;
}

/* SEÇÃO CONTATO */

section#contato{
  padding-block: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section#contato div.info{
    height: 26.2rem;
    width: 29.7rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6rem;
}

section#contato div.info h2{
  text-align: left;
  margin-bottom: 3.2rem;
}

section#contato div.info p{
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

section#contato div.info p:nth-child(3){
  margin: 1.6rem 0 3.2rem 0;
}

section#contato img:nth-child(2){
  height: 21.3rem;
  width: 32.4rem;
}

/* FOOTER */

footer{
  background: var(--brand-blue);
  height: 28.5rem;
  width: 100%;
  padding: 6rem 0 6rem 2.4rem;
  
}

footer p{
  color: var(--white);
  font-size: 1.6rem;
  line-height: 2.1rem;
}

footer div#credito{
  height: 10.9rem;
  width: 23.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  margin-bottom: 3.2rem;
}

footer div#credito img{
  margin-bottom: 2.4rem;
}

#backToTopBtn{
  display: none;
  position: fixed;
  bottom: 1.5rem;
  right: 3.5rem;
  transition: 0.25s;
}

#backToTopBtn.show{
  display: block;
}